In [26]:
import pandas as pd
import os
import numpy as np
import time
from datetime import datetime

In [11]:
FOLDER_NAME = 'created_datasets_for_ner/'

In [17]:
df_res_ro = pd.DataFrame(columns=["link", "text", "location", "phone", "language"])

for file in os.listdir(FOLDER_NAME):
    if file.endswith(".csv") and file.startswith('RO'):
        full_name = os.path.join(FOLDER_NAME, file)
        print(full_name)
        df = pd.read_csv(full_name)
#         print(df.head())
        df_res_ro = df_res_ro.append(df)

created_datasets_for_ner/RO_data_17-12-2020_hour_20.csv
created_datasets_for_ner/RO_data_26-12-2020_hour_11.csv
created_datasets_for_ner/RO_data_28-12-2020_hour_17.csv

In [18]:
df_res_ro.head()

,link,text,location,phone,language
0,https://999.md/ru/69379212,Ajutați-mă să-l găsesc ! Cind a pleca era tot ...,"Молдова, Флорешты",+373 69 697171,ro
1,https://999.md/ru/69351206,Rog sa ne ajutați sa găsim cățelul! Pe data d...,"Молдова, Кишинёв мун.",+373 69 888100,ro
2,https://999.md/ru/69334577,S-a pierdut pe 14 decembrie pe la ora 15.00-16...,"Молдова, Кишинёв мун.",+373 69 871503,ro
3,https://999.md/ru/69328037,NaN,"Молдова, Кишинёв мун.","Без звонков, предпочитаю сообщения",ro
4,https://999.md/ru/69261231,L-am găsit in scara blocului de pe strada Lech...,"Молдова, Кишинёв мун.",+373 78 029341,ro

In [19]:
df_res_ro.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23 entries, 0 to 5
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   link      23 non-null     object
 1   text      22 non-null     object
 2   location  23 non-null     object
 3   phone     23 non-null     object
 4   language  23 non-null     object
dtypes: object(5)
memory usage: 1.1+ KB

In [22]:
df_ro_unique = df_res_ro.drop_duplicates()

In [23]:
df_ro_unique.head()

,link,text,location,phone,language
0,https://999.md/ru/69379212,Ajutați-mă să-l găsesc ! Cind a pleca era tot ...,"Молдова, Флорешты",+373 69 697171,ro
1,https://999.md/ru/69351206,Rog sa ne ajutați sa găsim cățelul! Pe data d...,"Молдова, Кишинёв мун.",+373 69 888100,ro
2,https://999.md/ru/69334577,S-a pierdut pe 14 decembrie pe la ora 15.00-16...,"Молдова, Кишинёв мун.",+373 69 871503,ro
3,https://999.md/ru/69328037,NaN,"Молдова, Кишинёв мун.","Без звонков, предпочитаю сообщения",ro
4,https://999.md/ru/69261231,L-am găsit in scara blocului de pe strada Lech...,"Молдова, Кишинёв мун.",+373 78 029341,ro

In [24]:
df_ro_unique.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11 entries, 0 to 1
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   link      11 non-null     object
 1   text      10 non-null     object
 2   location  11 non-null     object
 3   phone     11 non-null     object
 4   language  11 non-null     object
dtypes: object(5)
memory usage: 528.0+ bytes

### Write results to a new directory when ready

In [28]:

# current_data_hour = datetime.now().strftime('%d-%m-%Y_hour_%H')
# NEW_FOLDER_NAE = 'Aggregated_...'... # pentru a nu fi toate in acelasi directoriu cu setul de date extras pe bucati trebuie de pus
# # in alta mapa

# df_ro_unique.to_csv(NEWFOLDER_NAME + 'RO_dataset_aggregated_' + current_data_hour, index=False)
#or
# df_ro_unique.to_csv(FOLDER_NAME + 'Aggregated_RO_dataset_' + current_data_hour, index=False)